{{#partial "content"}}
  <div class="container bg-secondary">
    <div class="row container">
      <div class="col-md-6">
        {{#if heroes}}
        {{#each heroes}}
{{!--             <p>{{age}}</p> --}}
            <p>{{name}}</p>
{{!--             <p>{{id}}</p> --}}
{{!--             <p>{{power}}</p> --}}
{{!--             <p>{{weakness}}</p> --}}
{{!--             <p>{{squadMembership}}</p> --}}
            <a href="/hero-view/{{id}}"><button class="btn btn-info btn-md">Details</button></a>
            <hr>
        {{/each}}
        {{else}}
            <hr>
            <p>There are no heroes here. </p>
            <a href="/hero-form"><button class="btn btn-success btn-md">Create Your Hero!</button></a>
            <hr>
        {{/if}}
      </div>


{{!-- particular details --}}
      <div class="col-md-6 ">
        <br>
        {{#if hero}}
            <div class =" container card bg-success" >
                <div class="card-body">
                    <hr>
                    <p class="text-light">Name : {{hero.name}}</p>
                    <hr>
                    <p class="text-light">Age : {{hero.age}} -years </p>
                    <p class="text-light">Main Power : {{hero.power}}</p>
                    <p class="text-light">Weakness : {{hero.weakness}}</p>
                    <p class="text-light">Squad-Membership : {{hero.squadMembership}}</p>
                    <p class="text-light">Nemesis : {{hero.nemesis}}</p>
                    <p class="text-light">Experience : {{hero.experience}} - years</p>
                    <a href="/hero/{{hero.id}}/delete"><button class="btn btn-danger">Delete Hero</button></a>
                    <hr>
                </div>
            </div>
        {{/if}}
        <br>
      </div>
    </div>
 </div>
{{/partial}}
{{#partial "footer"}}
    {{#if heroes}}
        <hr>
        <a href="/heroes/delete" style="margin: 1em;"><button class="btn btn-md btn-danger"> Delete All Heroes</button></a>
    {{else}}
    {{/if}}
{{/partial}}
{{> layout.hbs}}