{{#partial "content"}}
  <div class="container bg-secondary">
    <div class="row container">
      <div class="col-md-6">
        {{#if squads}}
          {{#each squads}}
             <p>{{name}}</p>
             <p>{{leader}}</p>
             <p>{{mission}}</p>
             <p>{{id}}</p>
             <p>{{maximumSize}}</p>
             <a href="/squad-view/{{id}}"><button class="btn btn-info btn-md">Details</button></a>
             <hr>
          {{/each}}
        {{else}}
        <p class="text-light">Create Your Squad!</p>
        {{/if}}

      </div>

      <div class="col-md-6 ">
        <br>
            <div class =" container card bg-success" >
                <div class="card-body">
                    <hr>
                    <p class="text-light">Name : {{squad.name}}</p>
                    <hr>
                    <p class="text-light">Leader : {{squad.leader}}</p>
                    <p class="text-light">Mission : {{squad.mission}}</p>
                    <p class="text-light">Maximum size : {{squad.maximumSize}}</p>
                    <p class="text-light">Team Members : {{squad.teamMembers}}</p>
                    <a href="/#"><button class="btn btn-danger">Delete Squad</button></a>
                    <hr>
                </div>
            </div>
        <br>
      </div>
    </div>
 </div>
{{/partial}}
{{#partial "footer"}}
{{/partial}}
{{> layout.hbs}}